[submodule "subproject2"]
	path = subproject2
	url = https://github.com/cricketjanoon/subproject2.git
	branch = main
[submodule "subproject1"]
	path = subproject1
	url = https://github.com/cricketjanoon/subproject1.git
	branch = main